name: Check and Lint

on:
  pull_request:

jobs:
  check-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run type check
        run: npm run check

      - name: Run lint
        run: npm run lint
